<launch>
  <arg name="rviz" default="true" />
  <arg name="pcd_map_path" value="$(find cruise_resources)/maps/chiwan_8f.pcd"/>

  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch"/>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
  <include file="$(find aruco_ros)/launch/marker_publisher.launch"/>

  <!-- fast_lio -->
  <rosparam command="load" file="$(find fast_lio)/config/mid360.yaml" />
  <param name="feature_extract_enable" type="bool" value="0"/>
  <param name="point_filter_num" type="int" value="3"/>
  <param name="max_iteration" type="int" value="3" />
  <param name="filter_size_surf" type="double" value="0.5" />
  <param name="filter_size_map" type="double" value="0.5" />
  <param name="cube_side_length" type="double" value="1000" />
  <param name="runtime_pos_log_enable" type="bool" value="0" />
  <param name= "pcd_save_en" type="bool" value="false"/>
  <node pkg="fast_lio" type="fastlio_mapping1" name="laserMapping"/> 

  <!-- loalization-->
  <node pkg="river_fast_lio_localization" type="global_localization.py" name="global_localization"/>

	<!-- transform fusion:pub map to camera_init-->
  <node pkg="river_fast_lio_localization" type="transform_fusion.py" name="transform_fusion"/>

	<!-- map_3d -->
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="map_publishe" 
	args="$(arg pcd_map_path) 5 _frame_id:=map_3d cloud_pcd:=pcd_map" />

  <!-- pointscloud2 to laserscans -->
	<include file="$(find cruise_nav)/launch/PointsCloud2toLaserscan.launch">
	</include>

  <!-- <node pkg="fast_lio_localization" type="publish_initial_pose.py" name="publish_inital"  />  -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map__to_odom" args="0 0 0 0 0 0 map odom"/> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map_3d_to_2d" args="0 0 -3.8 0 0 0 map_3d map"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_laser" args="-0.2 0 0 0 0 0 base_laser_link base_link " />
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_c0" args="0 0 0 0 -0.4482 0 camera_init camera_init_temp" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_c1" args="0 0 0 0 0 1.57 camera_init_temp real_camera_temp" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_c2" args="0 0 0 0 1.57 0 real_camera_temp real_camera_temp2" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_c3" args="0 0 0 3.14159 0 0 real_camera_temp2 real_camera_init" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_c" args="0 0 0 0 -0.4482 3.14159 camera_init real_camera_init" /> -->
  <node pkg="cruise_nav" type="trans_tf_2d" name="trans_tF_2d" />

	<group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find cruise_nav)/rviz/nav.rviz" />
	</group>
  
</launch>
