<launch>
    <param name="save_iaq_file_path" value="$(find air_sensors)/logs/air_quality.csv" type="string"/>

    <node pkg="air_sensors" type="ReadPubIaqData" name="ReadPubIaqData">
    </node>
    
    <node pkg="air_sensors" type="IaqActionServer" name="IaqActionServer">
    </node>

</launch>
